/* Default Styles */
    html {
        font-size: 16px;
        background-color: rgba(230,241,238,1);
    }

    html h1,h2,h3,h4,h5,h6{
        color: rgb(51,51,51);
    }

    body, #react-app {
        background-color: rgba(0,0,0,0);
    }

    #BackgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

/*
 * HEADER LOGO
 */
    .header-logo-container.row {
        overflow: hidden;
        background-image: url(../images/McDade.jpg);
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        background-position: center center;
        max-height: 200px;
    }

    .header-logo-container.row > .header-logo-container {
        height: 100%;
        background-color: rgba(255,255,255,0.3);
    }

    .header-logo-container > .header-logo {
        max-height: 100%;
    }

/*
 * NAVIGATION MENU
 */
    .nav-container-row{
        position: relative
    }

    .nav-container-row .nav-container{

    }

    .nav-container-row .nav-container .nav-item {
        padding: 5px;
        width: 33%;
        text-decoration: none;
    }

    .nav-container-row .nav-container .nav-item .nav-item-content {
        background-color: rgba(46,114,246,1.0);
        padding: 5px;
        text-align: center;
        height: 100%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
        cursor: pointer;
    }

    .nav-container-row .nav-container .nav-item.active .nav-item-content {
        background-color: rgba(255, 108, 0, 1.0);
    }

    .nav-container-row .nav-container .nav-item .nav-item-content {
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .nav-container-row .nav-container > a.active > .nav-item > .nav-item-content  {
        color: rgb(26, 234, 181);
    }

/*
 * COMMON PAGE STYLES
 */
    .title{
        background-color: rgb(208, 232, 241);
        text-align: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .title h1{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    .hero-text {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: justify;
        font-size: 1rem;
    }

/*
 * HOME PAGE
 */
    .home-container{

    }

    .home-container .quote-container{
        height: 200px;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 2px;
    }

    .home-container .quote-container.full-width {
        width: 100%;
    }

    .home-container .quote-container .quote{
        width: 100%;
        color: rgba(255,255,255,0.75);
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
        text-align: center;
        padding: 1rem;
    }

    /*Center the last quote vertically*/
    .home-container .quote-container:last-child .quote{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }

    .home-container .quote-container .quote a {
        text-decoration: none;
        color: rgba(255,255,255,1.0);
    }

    .home-container .quote-container:last-child .quote a .nav-item-content {
        background-color: rgba(26, 233, 183, 0.75);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
        padding: 0.5rem 3rem;
        cursor: pointer;
    }

/*
 * RESPONSIVE BACKGROUND IMAGES
 */
    .image.cover {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .image.cover.kid-vault {
        background-image: url(../images/KidVault.jpeg);
    }

    .image.cover.rail-balance {
        background-image: url(../images/RailBalance.jpeg);
    }

    .image.cover.climb {
        background-image: url(../images/Climb.jpeg);
    }

    .image.cover.franklin-steps {
        background-image: url(../images/BenFranklinYann.jpg);
    }

/*
 * FLEXBOX
 */
    .flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: flex-start;
    }

    .flexbox > .flexbox-item {
        flex-grow: 1;
        flex-basis: auto;
    }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    /*
     * HEADER LOGO
     */
        .header-logo-container.row{
            height: 215px;
        }

    /*
     * COMMON PAGE STYLES
     */
        .title h1 {
            font-size: 1.75rem;
        }

    /*
     * HOME PAGE
     */
        .home-container .quote-container{
            width: 100%;
        }

        .home-container .quote-container .quote{
            font-size: 2rem;
            line-height: 2rem;
        }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /*
     * NAVIGATION MENU
     */
        .nav-container-row .nav-container > .nav-item {
            width: 25%;
        }

    /*
     * COMMON PAGE STYLES
     */
        .title h1 {
            font-size: 2rem;
        }

    /*
     * HOME PAGE
     */
        .home-container .quote-container .quote{
            font-size: 2rem;
            line-height: 2rem;
        }

    /*
     * RESPONSIVE BACKGROUND IMAGES
     */
        .image.cover {
            background-size: cover; /* <------ */
            background-repeat: no-repeat;
            background-position: center center;
        }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*
     * NAVIGATION MENU
     */
        .nav-container-row .nav-container {
            position: absolute;
            top: -50px;
            right: 10px;
            left: 360px;
        }

    /*
     * COMMON PAGE STYLES
     */
        .hero-text {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            font-size: 1.25rem;
        }

    /*
     * HOME PAGE
     */
        .home-container .quote-container {
            width: 50%;
        }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
